*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,a:hover,a:active{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button,
input,
input:focus,
input:active,
textarea{
  outline: none;
  border: none;
  display: inline-block;
  background-color: transparent;
  font-size: inherit;
}

// layouts

.container{
  width: calc(100% - 20px);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .4rem;
  background-color: #fff;
  box-shadow: 1px 0 9px #edecec;
}

.app{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.48);
}

// components

.btn{
  background-color: green;
  color: #fff;
  font-size: 1.1rem;
  padding: .4rem 1rem;
  cursor: pointer;
  border-radius: .4rem;
  &--full{
    width: 100%;
    display: block;
    padding: .8rem 1rem;
  }
  &:active{
    transform: scale(.95);
  }
}

.card{
  margin-top: 2rem;
  padding: 2rem;

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__task{
    padding: 1rem;
    background-color: rgba(238, 238, 238, 0.48);
    position: relative;
    &:not(:last-child){
      margin-bottom: 1rem;
    }
    h3{
      color: #505050;
    }
    p{
      margin-top: 5px;
      font-style: italic;
      color:#aaa;
    }
    img{
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      &:hover{
        transform: translateY(-50%) scale(1.1);
      }
      &:active{
        transform: translateY(-50%) scale(.70);
      }
    }
    &:hover{
      cursor: pointer;
      img{
        opacity: 1;
      }
    }
    &--reminder{
      border-left: 6px solid green;
    }
  }

  &__form{
    margin: .7rem 0;
    font-size: 1.1rem;
  }

  &__field{
    &:not(:last-child){
      margin-bottom: .8rem;
    }
    input{
      width: 100%;
      background-color: #E8F0FE;
      padding: .6rem .5rem;
      border-radius: .2rem  ;
    }
    &--flex{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 .5rem;
      input{
        width: 25px;
        height: 25px;
      }
    }
  }

}